<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar py-4" role="banner">

  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a routerLink="">
          <img src="assets/images/logo.png" alt="Logo">
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a routerLink="" class="nav-link">Home</a></li>
            <li><a routerLink="allMatches" class="nav-link">Matches</a></li>
            <li *ngIf="isLoggedIn()"><a routerLink="searchMatch" class="nav-link">Search Match By Team</a></li>
            <li *ngIf="isLoggedIn()"><a routerLink="searchMatchByScore" class="nav-link">Search Match By Score</a></li>
            <li><a routerLink="allPlayers" class="nav-link">Players</a></li>
            <li><a routerLink="allTeams" class="nav-link">Teams</a></li>
            <li *ngIf="isLoggedIn() && user.role=='admin'"><div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="addMatch">Add Match</a>
                <a class="dropdown-item" routerLink="addTeam">Add Team</a>
                <a class="dropdown-item" routerLink="addStadium">Add Stadium</a>
                <a class="dropdown-item" routerLink="playerForm">Add Player</a>
                <a class="dropdown-item" routerLink="admin">Dashboard</a>
              </div>
            </div></li>
            <li *ngIf="!isLoggedIn()"><a routerLink="login" class="nav-link">Login</a></li>
            <li *ngIf="!isLoggedIn()"><a routerLink="signup" class="nav-link">Signup</a></li>
            <li *ngIf="isLoggedIn()"><a class="nav-link">Hello {{user.fName}} {{user.lName}}</a></li>
            <li *ngIf="isLoggedIn()"><a class="nav-link" (click)="logout()">Logout</a></li>
          </ul>
        </nav>

        <a href="#"
          class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
            class="icon-menu h3 text-white"></span></a>
      </div>
    </div>
  </div>

</header>